<section id="single-beer">

	<div class="actions">
		<button ng-click="fork()">Add my fork</button>
	</div>

	<section class="beer-meta">
		<div class="inner-wrapper">
			<div class="meta-line">
				<div class="beer-style">{{::beer.beerStyle.name}}</div>
			</div>
			<ul class="brewers">
				<li ng-repeat="brewer in beer.brewers" class="brewer"><gravatar style="display: inline-block;"size="25px" url="{{brewer.gravatar}}"></gravatar> {{::brewer.username}}</li>
			</ul>


			<section class="meta-calculations">
			<div class="inner-wrapper recipe-beer-meta">
				<div class="abv-wrapper">
					<div class="beer-meta-key">ABV</div> 
					<div class="beer-meta-value"><mb-abv og="{{::beer.recipe.og}}" fg="{{::beer.recipe.fg}}" formula="microbrewit"/> </mb-abv>%</div>
				</div>

				<div class="og-wrapper">
					<div class="beer-meta-key">OG</div> 
					<div class="beer-meta-value">{{::beer.recipe.og}}</div>
				</div>
				
				<div class="fg-wrapper">
					<div class="beer-meta-key">FG</div> 
					<div class="beer-meta-value">{{::beer.recipe.fg}}</div>
				</div>
				
				<div class="bitterness-wrapper">
					<div class="beer-meta-key">Bitterness</div> 
					<div class="beer-meta-value">{{::beer.ibu.tinseth}} IBU</div>
				</div>
				
				<div class="colour-wrapper">
					<div class="beer-meta-key">Colour</div> 
					<div class="beer-meta-value">{{::beer.srm.standard}} SRM</div>
				</div>
			</div>
		</section>

			
		</div>
	</section>
	<section class="recipe">
		<h2>Recipe</h2>
		<section class="mash steps">
			<div class="inner-wrapper">
				<h3>Mash</h3>
				<ul>
					<li class="step-wrapper" ng-repeat="step in beer.recipe.mashSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Mash step</span>
							<span class="values">
								<label for="length">Volume </label><mb-unit id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-unit>
								<label for="length">Length: </label>{{step.length}}
								<label for="length">Temperature: </label>
								<mb-unit id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>

		<section class="boil steps">
			<div class="inner-wrapper">
				<h3>Boil</h3>
				<ul>
					<li ng-repeat="step in beer.recipe.boilSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Boil step</span>
							<span class="values">
								<label for="length">Add at: </label>
								{{step.length}}
								<label for="volume">Volume: </label><mb-unit id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>

		<section class="fermentation steps">
			<div class="inner-wrapper">
				<h3>Fermentation</h3>
				<ul>
					<li ng-repeat="step in beer.recipe.fermentationSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Fermentation step</span>
							<span class="values">
								<label for="length">Duration:</label>
								<mb-unit modelunit="days" localunit="days" modelvalue="step.length"></mb-unit>
								<label for="length">Temperature: </label>
								<mb-unit id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>
	</section>
	<section class="forks" ng-show="beer.forks.length > 0">
		<div class="inner-wrapper">
			<h2>Forks</h2>
		</div>
	</section>
</section>