<form class="add-beer add-beer-recipe" ng-show="beer">
	<header>
		<div class="header-bubble inner-wrapper">
			<div class="icon">
				<mb-colour-box class="colour-box" type="srm" colour="{{beer.srm.standard}}" size="76px"></mb-colour-box>
				<img src="images/tulip-large.png" alt="Malt"/>
			</div>
		</div>
		<h1><input type="text" class="recipe-name" placeholder="New Recipe" ng-model="beer.name"/></h1>
		<div class="subheader inner-wrapper">
				<div class="beerstyle">
					<ui-select ng-model="beer.beerStyle" ng-disabled="disabled" style="min-width: 300px;" title="Choose a beerStyle">
						<ui-select-match placeholder="Select a BeerStyle in the list or search">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices group-by="groupBeerstyles" ng-show="$select.open && " repeat="result in beerStyles | filter: {name: $select.search}">
							<!-- <div ng-bind-html="hoporg.name | highlight: $select.search"> -->
								{{result.name}}
							<!-- </div> -->
						</ui-select-choices>
					</ui-select>
				</div>
		</div>
	</header>

	<section class="meta-information">

		<ul class="meta brewers" ng-show="user">
			<li class="brewer"><gravatar style="display: inline-block;"size="25px" url="{{user.gravatar}}"></gravatar> {{user.username}}</li>
			<li ng-repeat="brewery in beer.breweries">Brewery: {{brewery.name}}</li>
		</ul>

		<div class="meta meta-calculations">
			<div class="meta">
				<span class="abv" title="ABV or alcohol by volume is how many % of the beer's volume that consists of alcohol.">Alcohol: <strong><mb-abv og="{{beer.recipe.og}}" fg="{{beer.recipe.fg}}" formula="microbrewit"/></mb-abv>%</strong></span>
				<span class="og" title="OG or original gravity is the boyency of the liquid after the mash. It is used to calculate ABV.">Original Gravity: <strong>{{beer.recipe.og}}</strong></span>
				<span class="fg" title="FG or final gravity is the boyency of the beer after fermentation. It is used to calculate ABV.">Final Gravity: <strong>{{beer.recipe.fg}}</strong></span>
				<span class="bitterness" title="IBU/EBU is a measure of the bitterness of the beer.">Bitterness: <strong>{{beer.ibu.tinseth}} IBU</strong></span>
				<span class="colour" title="SRM/EBC is used to measure the colour of the beer.">Colour: <strong><mb-colour-box type="srm" colour="{{beer.srm.standard}}" size="20px"></mb-colour-box> {{beer.srm.standard}} SRM</strong></span>
			</div>
			<div class="meta">
				<span>Volume: <strong><mb-convert id="volume" class="meta-values-input" modelunit="liters" localunit="{{user.settings.liquid}}" modelvalue="beer.recipe.volume"></mb-convert></strong></span>
				<span class="meta-values-input"> Efficiency <strong><input type="number" ng-model="beer.recipe.efficiency"/>%</strong>
			</div>
		</div>
	</section>

	<section class="mash steps">
		<div class="inner-wrapper">
			<h2>Mash</h2>
			<ul>
				<li class="step-wrapper" ng-repeat="step in beer.recipe.mashSteps">
					<div class="step-meta">
						<div class="step-number">{{step.stepNumber}}</div>
						<span class="step-type">Mash step</span>
						<span class="values">
							<label for="length">Volume </label><mb-convert id="volume" modelunit="liters" localunit="{{user.settings.liquid}}" modelvalue="step.volume"></mb-convert>
							<label for="length">Length: </label><input type="text" id="length" ng-model="step.length"/>
							<label for="length">Temperature: </label>
							<mb-convert id="temperature" modelunit="celcius" localunit="{{user.settings.temperature}}" modelvalue="step.temperature"></mb-convert>
							<button class="remove form-button" ng-click="removeStep(step)">X</button>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addMashStep()">Add Step</button>
		</div>
	</section>

	<section class="boil steps">
		<div class="inner-wrapper">
			<h2>Boil</h2>
			<ul>
				<li class="step-wrapper" ng-repeat="step in beer.recipe.boilSteps" >
					<div class="step-meta">
						<div class="step-number">{{step.stepNumber}}</div>
						<span class="step-type">Boil step</span>
						<span class="values">
							<label for="length">Add at: </label>
							<input type="text" id="length" ng-model="step.length"/>
							<label for="volume">Volume: </label><mb-convert id="volume" modelunit="liters" localunit="{{user.settings.liquid}}" modelvalue="step.volume"></mb-convert>
							<button class="remove form-button" ng-click="removeStep(step)">X</button>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addBoilStep()">Add Step</button>
		</div>
	</section>

	<section class="fermentation steps">
		<div class="inner-wrapper">
			<h2>Fermentation</h2>
			<ul>
				<li class="step-wrapper" ng-repeat="step in beer.recipe.fermentationSteps">
					<div class="step-meta">
						<div class="step-number">{{step.stepNumber}}</div>
						<span class="step-type">Fermentation step</span>
						<span class="values">
							<label for="length">Duration:</label>
							<mb-convert modelunit="days" localunit="days" modelvalue="step.length"></mb-convert>
							<label for="length">Temperature: </label>
							<mb-convert id="temperature" modelunit="celcius" localunit="{{user.settings.temperature}}" modelvalue="step.temperature"></mb-convert>
							<button class="remove form-button" ng-click="removeStep(step)">X</button>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addFermentationStep()">Add Step</button>
		</div>
	</section>

	<section class="notes steps">
		<div class="inner-wrapper">
			<h2>Recipe notes</h2>
			<textarea class="recipe-notes" ng-model="beer.recipe.notes" placeholder="notes"></textarea>
		</div>
	</section>

	<section class="wrap-up" ng-show="false">
		<div class="inner-wrapper">
			<h2>Wrap up</h2>
			Bottling/kegging/whatever.
		</div>
	</section>

	<section class="conclusion">
		<div class="inner-wrapper">
			<h2>Looks good!</h2>

			<div class="recipe-beer-meta">
				<div class="meta">
					<span class="abv" title="ABV or alcohol by volume is how many % of the beer's volume that consists of alcohol.">Alcohol: <strong><mb-abv og="{{beer.recipe.og}}" fg="{{beer.recipe.fg}}" formula="microbrewit"/></mb-abv>%</strong></span>
					<span class="og" title="OG or original gravity is the boyency of the liquid after the mash. It is used to calculate ABV.">Original Gravity: <strong>{{beer.recipe.og}}</strong></span>
					<span class="fg" title="FG or final gravity is the boyency of the beer after fermentation. It is used to calculate ABV.">Final Gravity: <strong>{{beer.recipe.fg}}</strong></span>
					<span class="bitterness" title="IBU/EBU is a measure of the bitterness of the beer.">Bitterness: <strong>{{beer.ibu.tinseth}} IBU</strong></span>
					<span class="colour" title="SRM/EBC is used to measure the colour of the beer.">Colour: <strong>{{beer.srm.standard}} SRM</strong></span>
					<span class="volume" title="Volume of finished beer.">Volume: <strong>{{beer.recipe.volume}}l</strong></span>
				</div>
			</div>
			<h2>Please sign in</h2>
			<h3>You need to sign in before saving the recipe <small>(don't worry, you'll stay right here)</small></h3>
			<div ng-include="'templates/brewers/user.login.html'" ng-if="!user.username" ng-controller="UserController"></div>
			<button class="submit" ng-if="user.username" ng-click="submitRecipe()">Save</button>
		</div>
	</section>

</form>

