<section id="single-beer">
	<section class="beer-meta">
		<div class="inner-wrapper">
			<ul class="meta brewers">
				<li ng-repeat="brewer in beer.brewers" class="brewer"><gravatar style="display: inline-block;"size="25px" url="{{brewer.gravatar}}"></gravatar> {{::brewer.username}}</li>
			</ul>

			<section class="meta-calculations">
				<div class="meta">
					<span class="abv" title="ABV or alcohol by volume is how many % of the beer's volume that consists of alcohol.">Alcohol: <strong><mb-abv og="{{::beer.recipe.og}}" fg="{{::beer.recipe.fg}}" formula="microbrewit"/></mb-abv>%</strong></span>
					<span class="og" title="OG or original gravity is the boyency of the liquid after the mash. It is used to calculate ABV.">Original Gravity: <strong>{{::beer.recipe.og.toFixed(3)}}</strong></span>
					<span class="fg" title="FG or final gravity is the boyency of the beer after fermentation. It is used to calculate ABV.">Final Gravity: <strong>{{::beer.recipe.fg.toFixed(3)}}</strong></span>
					<span class="bitterness" title="IBU/EBU is a measure of the bitterness of the beer.">Bitterness: <strong>{{::beer.ibu.tinseth}} IBU</strong></span>
					<span class="colour" title="SRM/EBC is used to measure the colour of the beer.">Colour: <strong>{{::beer.srm.standard}} SRM</strong></span>
				</div>
			</section>
			
		</div>
	</section>

	<section class="recipe">
		<section class="mash steps">
			<div class="inner-wrapper">
				<h2>Mash</h2>
				<ul>
					<li class="step-wrapper" ng-repeat="step in beer.recipe.mashSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Mash step</span>
							<span class="values">
								<label for="length">Volume </label><mb-unit id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-unit>
								<label for="length">Length: </label>{{step.length}}
								<label for="length">Temperature: </label>
								<mb-unit id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>

		<section class="boil steps">
			<div class="inner-wrapper">
				<h2>Boil</h2>
				<ul>
					<li ng-repeat="step in beer.recipe.boilSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Boil step</span>
							<span class="values">
								<label for="length">Add at: </label>
								{{step.length}}
								<label for="volume">Volume: </label><mb-unit id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>

		<section class="fermentation steps">
			<div class="inner-wrapper">
				<h2>Fermentation</h2>
				<ul>
					<li ng-repeat="step in beer.recipe.fermentationSteps">
						<div class="step-number">{{step.stepNumber}}</div>
						<div class="step-meta">
							<span class="step-type">Fermentation step</span>
							<span class="values">
								<label for="length">Duration:</label>
								<mb-unit modelunit="days" localunit="days" modelvalue="step.length"></mb-unit>
								<label for="length">Temperature: </label>
								<mb-unit id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-unit>
							</span>
						</div>
						<div ng-include="'templates/recipe/recipe.step.static.html'"></div>
					</li>
				</ul>
			</div>
		</section>
	</section>
	<section class="forks" ng-show="beer.forks.length > 0">
		<div class="inner-wrapper">
			<h2>Forks</h2>
		</div>
	</section>
</section>