<article class="beer">
	<header>
		<div class="header-bubble inner-wrapper">
			<div class="icon">
				<mb-colour-box class="colour-box" type="srm" colour="{{bubble}}" size="76px"></mb-colour-box>
				<img src="images/fermentable-large.png" alt="Malt"/>
			</div>
		</div>
		<h1>{{headers.title}}</h1>
		<div ng-show="headers.subheader" class="subheader">{{headers.subheader}}</div>
	</header>

	<div ng-show="showNav" ng-include="'templates/beer/beer.navigation.html'"></div>

	<div class="the-content">
		<div ui-view></div>
	</div>
	
</article>