.footer-wrapper .logo.medium {
	background: #fff;
	color: #333;
}
.footer-wrapper {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 25px 50px;
	color: #ccc;
	background: #333;
	margin-bottom: 25px;
	border-top: 25px solid #fff;
	border-bottom: 25px solid #fff;
}
	footer .footer-wrapper .footer-logo {
		margin-top: 12.5px;
		margin-bottom: 12.5px;
		// padding: 37.5px 25px;
		border-right: 1px solid #ccc;
	}
		.number-of-recipes {
			margin-bottom: 5px;
		}
	.copyright-notice {
		color: #999;
	}

	