.footer-wrapper {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 25px 50px;
	color: #666;
}
	.footer-wrapper img {
		vertical-align: middle;
	}
	.footer-logo {
		border-right: 1px solid #ccc;
	}
		.number-of-recipes {
			margin-bottom: 5px;
		}
	.copyright-notice {
		color: #999;
	}