#main-header {
	background: #fff;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 0px 12px 5px rgba(233, 233, 233, 0.65);
	margin-bottom: 25px;
}
	#main-nav{
		width: 100%;
		display: table;
	}
	#main-nav ul {
		display: table-row;
		width: 100%;
	}
	#main-nav li {
		display: table-cell;
		border-right: 1px solid #ccc;
	}
	#main-nav img {
		vertical-align: middle;
	}
	#main-nav a {
		font-weight: 700;
		text-transform: uppercase;
		color: #333;
		text-decoration: none;
		padding: 0px 25px;
		line-height: 50px;
		display: block;
		text-align:center;
	}
		#main-nav a:hover, #main-nav a.active {
			background: #333;
			color: #fff;
		}
	#search-form {
		position: relative;
	}
	#search-form input {
		height: 50px;
		padding:0 75px 0 25px;
		margin:0;
		border: 0;
		color: #333;
		font-weight: 700;
		display: block;
		line-height: 50px;
		font-size: 16px;
		font-family: 'Source Sans Pro';
		text-transform: uppercase;
	}
	#search-form input::-webkit-input-placeholder {
		color: #333;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Source Sans Pro';
		font-size: 16px;
	}

	#search-form input:-moz-placeholder { /* Firefox 18- */
		color: #333;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Source Sans Pro';
		font-size: 16px;
	}

	#search-form input::-moz-placeholder {  /* Firefox 19+ */
		color: #333;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Source Sans Pro';
		font-size: 16px;
	}

	#search-form input:-ms-input-placeholder {  
		color: #333;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Source Sans Pro';
		font-size: 16px;
	}
	#search-form input:placeholder {
		color: #ccc;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Source Sans Pro';
		font-size: 16px;
	}
	#search-form.active {
		background: #333;
	}

		#search-form.active input {
			background: #333;
			color: #fff;
		}
	#search-form button {
		text-indent: -9999px;
		border:0;
		width: 50px;
		height: 50px;
		background: url(../img/search.png) center top;
		position: absolute;
		right:0;
		top:0;
	}
	#search-form.active button {
		background: url(../img/search.png) center bottom;
	}
	#search {
		float:none;
		overflow: auto;
	}
