.logo {
	font-family: 'Kingthings Petrock', serif;
	text-transform: none !important;
	padding: 0;
	margin:0;
	display: inline-block;
}
.medium {
	font-size: 30px;
	color: #333;
	line-height: 50px;
	height: 50px;
	overflow:hidden;
}
* .medium {
	height: 50px;
	overflow: hidden;
}
.large {
	font-size: 50px;
	color: #333;
}

.round.logo {
	background: #333;
	color: #fff;
	text-align: center;
}

.round.medium {
	width: 50px;
	line-height: 50px;
}
a.round.logo:hover {
	background: #0088AA;
}

