@import "Lattice/core.scss";
@import "Lattice/grid.scss";
// @import "Lattice/forms.scss";
// @import "Lattice/buttons.scss";
// @import "Lattice/typography.scss";

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.svg#SourceSansPro') format('svg'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.svg#SourceSansPro') format('svg'),
         url('../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Semibold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.svg#SourceSansPro') format('svg'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body{
	font-family: 'Source Sans Pro';
	background: #fbfbfb;
	line-height: 1.4;
}

h2 {
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: 700;
}

@import "header.scss";

.content-area {
	background: #fff;
	border: 1px solid #e9e9e9;
	// box-shadow: 0 0 12px 5px rgba(244, 244, 244, 0.65);
	border-radius: 4px;
	z-index: 10;
}

.semibold {
	font-weight: 600;
}

.medium-text, h3 {
	font-size: 20px;
}

h3 {
	line-height: 2;
	margin-top: 25px;
	margin-bottom: 20px;
	font-weight: 700;
}
h4 {
	line-height: 2;
	font-weight: 700;
}

.large-text {
	font-size: 28px;
}

.huge-text {
	font-size: 50px;
}

.fork-btn {
	border-radius: 4px;
	background: #D53232;
	padding: 6px;
	color: #fff;
}

li {
	line-height: 1.7;
}

strong {
	font-weight: 700;
}
.relative {
	position: relative;
}
.edge {
	position: absolute;
}
.edge-right {
	right: 0;
}
.edge-left {
	left: 0;
}
.edge-top {
	top: 0;
}
.edge + * {
	position:relative;
}

a {
	text-decoration: none;
	color: #00ABD6;
}
a:hover {
	color: #0088AA;
}

img.responsive {
	width: 100%;
	height: auto;
}

nav .active {
	color: #fff;
	background: #D53232;
}

.vertical-float-nav {
	text-align:center;
}
	.vertical-float-nav li {
		margin-bottom: 5px;
	}
	.vertical-float-nav a {
		line-height: 2;
		display: block;

	}
	.vertical-float-nav .active a {
		color: #fff;
	}

.large-form input[type=text], .large-form input[type=password] {
	display: block;
	width: 100%;
	padding: 0 12px;
	line-height: 40px;
	border: 1px solid #ccc;
	margin-bottom: 25px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
	font-size: 50px;
	margin-bottom: 25px;
}

h2 small {
	font-size: 15px;
	font-weight: normal;
}

hr {
	border:0;
	background: #ccc;
	height: 1px;
	margin-bottom: 25px;
}

fieldset {
	border-bottom: 1px solid #ccc;
}
fieldset+fieldset {
	border-top: 0;
	padding-top: 25px;
}
p {
	margin-bottom: 25px;
}

.action-btn {
	background: #D53232;
	text-transform: uppercase;
	padding: 14px 20px;
	color: #fff;
	border:0;
	font-weight: 700;
}
	.action-btn:hover {
		background: #DE5C5C
	}
	.action-btn:active {
		background: #AB2323;
	}

.top-background-image {
	position: relative;
	top:-101px;
	left:0;
	right:0;
	z-index: -1;
}

.top-background-image + .container {
	margin-top: -125px;
}

.top-background-image + .container.background-overlay {
	margin-top: -230px;
}

.transparent-gradient {
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,1) 100px); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 100px); /* W3C */
}

.brewery .brewery-info {
	margin-top: -12px;
	position:relative;
}
	.brewery .brewery-info:before {
		position: absolute;
		top: 0;
		left: -10px;
		border-top: 0px solid transparent;
		border-bottom: 10px solid #666;
		border-left: 10px solid transparent;
		content: '';
	}
@import "recipe.scss";

@import "footer.scss";
