<article class="user-settings">
	<div class="header-bubble inner-wrapper">
		<div class="icon">
			<gravatar url="{{user.gravatar}}" size="78px"></gravatar>
		</div>
	</div>
	<h1>{{user.userName}}</h1>
	<form>
		<section class="content profile">
			<div class="inner-wrapper">
					{{user}}
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="newSettings.name"/>

					<label for="country">Country</label>
					<input id="country" type="text" ng-model="newSettings.country"/>
			</div>
		</section>
		<section class="content settings">
			<div class="inner-wrapper">
				<h2>Settings</h2>
				<h3>Measurements</h3>
				<label for="large-weight">large weight</label>
				<input id="large-weight" ng-model="newSettings.settings.measurements.weight.large"/>
				<label for="large-weight">small weight</label>
				<input id="large-weight" ng-model="newSettings.settings.measurements.weight.small"/>
				<label for="liquids">liquids</label>
				<input id="liquids" ng-model="newSettings.settings.measurements.liquids"/>
				<label for="temperature">temperature</label>
				<input id="temperature" ng-model="newSettings.settings.measurements.temperature"/>

				<h3>Alcohold by volume</h3>
				<label for="abv-formula">Formula</label>
				<input id="abv-formula" ng-model="newSettings.settings.abv.formula"/>
				<label for="abv-unit">Unit</label>
				<input id="abv-unit" ng-model="newSettings.settings.abv.unit"/>

				<h3>Bitterness</h3>
				<label for="bitterness-formula">Formula</label>
				<input id="bitterness-formula" ng-model="newSettings.settings.bitterness.formula"/>
				<label for="bitterness-unit">Unit</label>
				<input id="bitterness-unit" ng-model="newSettings.settings.bitterness.unit"/>

				<h3>Colour</h3>
				<label for="colour-formula">Formula</label>
				<input id="colour-formula" ng-model="newSettings.settings.colour.formula"/>
				<label for="colour-unit">Unit</label>
				<input id="colour-unit" ng-model="newSettings.settings.colour.unit"/>

			</div>
		</section>
		<section class="content account-and-security">
			<div class="inner-wrapper">
				<h2>Account and Security</h2>
				<label for="email">Email</label>
				<input id="email" type="text" ng-model="newSettings.email"/>
				
				<label for="password">New Password</label>
				<input id="password" type="text" ng-model="newSettings.password"/>
				<input id="passwordRepeat" type="text" ng-model="newSettings.passwordRepeat" placeholder="repeat"/>

			</div>
		</section>
		<button class="submit center" ng-click="save()">Save</button>
	</form>
</article>