<article>

	<form name="add-beer" class="large-form">
		<fieldset>
			<div>
				<div class="container">
					<div class="sixteen columns">
						<label for="beerName">Name your beer</label>
						<input type="text" id="beerName" class="huge-text" placeholder="Untitled" ng-model="recipe.recipename" />
					</div>
				</div>
			</div>
		</fieldset>
		<div class="container">
			<fieldset class="sixteen columns content-area large-form">
				<!-- <select ng-model="styles">
					<input type="text" 
					<option ng-repeat="style in styles | filter:">{{style.name}}</option>
				</select> -->

				<label for="description">Describe your beer (optional)</label>
				<textarea id="description" ng-model="recipe.description"></textarea>
			</fieldset>

			<h2>Recipe</h2>
			<h3>Mash steps</h3>
			<fieldset>
				<div class="step-wrapper" ng-repeat="step in recipe.mashSteps">
					<div class="left-count">{{step.number}}</div>
					<div class="step">
						<div class="step-head">
							<label for="mash-type">Type</label>
							<select ng-model="step.type">
								<option value="infusion">Infusion</option>
								<option value="sparge">Sparge</option>
							</select>
							<label for="length">Length</label>
							<input type="number" id="number" ng-model="step.length"></input> min
							<label for="temperature">Temperature</label>
							<input type="number" id="temperature" ng-model="step.temperature" /> {{user.units.temperature}}
							<label for="volume">Amount of water</label>
							<input type="number" id="volume" ng-model="step.volume" /> {{user.units.liquid}}
						</div>
						<div class="step-body">
							<fermentables></fermentables>
							<hops></hops>
							<spices></spices>
							<fruits></fruits>
						</div>
					</div>
					<button ng-click="addMashStep()">Add Mash Step</button>
				</div>
			</fieldset>

			<h2>Boil steps</h2>
			<fieldset>
				<div class="step-wrapper" ng-repeat="step in recipe.boilSteps">
					<div class="left-count">{{step.number}}</div>
					<div class="step">
						<div class="step-head">
							<label for="length">Length</label>
							<input type="number" id="number"></input> min
							<label for="volume">Amount of water</label>
							<input type="number" id="volume" /> {{user.units.liquid}}
						</div>
						<div class="step-body">
							<fermentables></fermentables>
							<hops></hops>
							<spices></spices>
							<fruits></fruits>
						</div>
					</div>
					<button ng-click="addBoilStep()">Add Boil Step</button>
				</div>
			</fieldset>

			<h2>Fermentation steps</h2>
			<fieldset>
				<div class="step-wrapper" ng-repeat="step in recipe.fermentationSteps">
					<div class="left-count">{{step.number}}</div>
					<div class="step">
						<div class="step-head">
							<label for="fermentation-type">Type</label>
							<select ng-model="step.type">
								<option value="primary">Primary</option>
								<option value="secondary">Secondary</option>
							</select>
							<label for="length">Length</label>
							<input type="number" id="number"></input> min
							<label for="temperature">Temperature</label>
							<input type="number" id="temperature" /> {{user.units.temperature}}
							<label for="volume">Amount of water</label>
							<input type="number" id="volume" /> {{user.units.liquid}}
						</div>
						<div class="step-body">
							<fermentables></fermentables>
							<hops></hops>
							<spices></spices>
							<fruits></fruits>
						</div>
					</div>
					<button ng-click="addFermentationStep()">Add Fermentation Step</button>
				</div>
			</fieldset>

			<h2>Bottling</h2>
			<fieldset>
			</fieldset>
		</div>
	</form>
	<div>{{recipe}}</div>
</article>