<div class="top-background-image"><img src="img/placeholders/brewery-background-image.jpg" class="responsive" /></div>
<article class="container">
	<div class="brewery transparent-gradient content-area sixteen columns no-top-padding">
		<section class="four columns brewery-info no-padding offset-right-by-one">
        <img src="img/placeholders/thune-logo.png" class="responsive" />
        <div class="wrapper std-padding">
          <h2 class="uppercase">Thune Homebrewery</h2>
          <ul class="brewers">
            <li><img src="img/placeholders/avatar.png" class="avatar-small" /> John Doe</li>
          </ul>
          <div class="uppercase semibold brewery-number-of-brews">
            12 Brews
          </div>
        </div>
      </section>

</article>