<div class="top-background-image"><img src="img/placeholders/brewery-background-image.jpg" class="responsive" /></div>
<article class="container background-overlay">
	<div class="brewery transparent-gradient content-area sixteen columns no-top-padding">
    <section class="controls right clear-both" style="font-size: 40px;"><div mb-star>&#x272A;</div></section>
		<section class="four columns brewery-info no-padding offset-right-by-one">
        <img src="img/placeholders/thune-logo.png" class="responsive" />
        <div class="wrapper standard-padding">
          <h2 class="uppercase">Thune Home Brewery</h2>
          <ul class="brewers offset-bottom-by-one">
            <li><img src="img/placeholders/avatar.png" class="avatar-small" /> John Doe</li>
          </ul>
          <div class="uppercase semibold brewery-number-of-brews offset-bottom-by-one">
            12 Brews
          </div>
          <p class="brewery-description">Thune Home Brewery is located in Bergen, Norway and focuses primarily on Belgian style ales. Typical batches are approximately 22 liters, resulting in around 60 standard sized Norwegian pilsner bottles of brew.</p> 
        </div>
        
      </section>

</article>