<article class="container">
	<h1 class="no-margin semibold">{{hop.name}}</h1>
	<p>Type: <strong>{{hop.recommendedusage}} hop</strong></p>
	<div class="content-area sixteen columns">
		<ul class="zebra offset-bottom-by-one">
			<li>Flavours: <span ng-repeat="flavour in hop.flavour">{{flavour}}</span></li>
			<li>Alpha-acid: {{hop.aalow}} - {{hop.aahigh}}%</li>
			<li>Recommended usage: {{hop.recommendedusage}}</li>
			<li>From: {{hop.origin}}</li>
			<li>Description: {{hop.flavourdescription}}</li>
		</ul>

		<h2>Substitutes</h2>
		<p ng-show="!substitutions">None in database.</p>
		<ul class="zebra" ng-show="substitutions">
			<li ng-repeat="substitute in substitutions">{{substitute}} lol</li>
		</ul>
	</div>
</article>