<article class="container">
	<h1 class="no-margin semibold">Hops registry</h1>
	<p>Search the Microbrew.it hops registry.</p>
	<div class="content-area sixteen columns">
		<div class="offset-bottom-by-one">
			<label for="hops-filter">Search</label> <input type="text" id="hops-filter" ng-model="hopsFilter" />
			Sort by:
			<select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="recommendedUsage">Usage</option>
				<option value="origin">Origin</option>
				<option value="alphaacid">Alpha Acids</option>
			</select>
		</div>
		<ul class="zebra">
			<li ng-repeat="hop in hops | filter:hopsFilter | orderBy:orderProp">
				<a href="#/hops/{{hop.id}}"><strong>{{hop.name}}</strong> <small>({{hop.origin}})</small> [{{hop.recommendedusage}}] AA: {{hop.aalow}} - {{hop.aahigh}}% {{hop.flavour}}</a></li>
		</ul>
	</div>
</article>