<div class="top-background-image"><img src="img/background-top-index.jpg" class="responsive" /></div>
<article class="container">
	<div class="ten columns center">
		<h1 class="text-center">Index</h1>
		<div class="content-area sixteen columns">
			<h2 class="text-center">Not just another recipe site</h2>
			<p>Microbrew.it aims to become the most comprehensible and useful beer recipe site out there. Through employing novel technologies and a novel approach we aim to not only let you easily create, store and share beer recipes, we aim to help you improve them.</p>

			<p>Microbrew.it is created by a small, but dedicated, team of homebrewing programmers. Based in Norway, we aim to create the beer tool of our dreams.</p>

			<h2 class="text-center">Create, search, fork</h2>
			<p>The primary goal of homebrewing is to make great beer. Microbrew.it allows you to create recipes using our recipe system. You can also search Microbrew.it for other brewers’ recipes. Thirdly you can quickly and easily create variations of your own or other brewers’ tried and proven recipes using our fork function.</p>

			<p>Microbrew.it is GitHub for beer. Join the revolution.</p>

			<h2 class="text-center">Join the alpha</h2>
			<p>Joining the Microbrew.it alpha is free <a href="#/register">register</a> your account today! <span style="font-size: 60px;color: #666;">&#x2605;&#x2605;&#x2605; &#9733; &#x2606; &#x272A;</span></p>
		</div>
	</div>
</article>