<div class="call-to-action register">
	<h1>We make beer</h1>
	<p>join an online community of brewers</p>
	<a class="call-to-action-register-btn" href="#/register">join the alpha</a>
</div>
<article class="container offset-top-by-one">

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Find great recipes in our database</h2>
				<ul class="zebra">
					<li>25 recipes</li>
					<li>a network of 3 brewers</li>
					<li>search using metric or imperial</li>
				</ul>
			</div>
		</div>

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Fork recipes and add your own alterations</h2>
				<ul class="zebra">
					<li>fork any recipe on the site</li>
					<li>calculators to help you get going</li>
					<li>store your recies in our cloud</li>
				</ul>
			</div>
		</div>

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Share recipes with the world</h2>
				<ul class="zebra">
					<li>customise your own brewery page</li>
					<li>follow any brewery or person</li>
					<li>share to facebook, twitter or reddit</li>
				</ul>
			</div>
		</div>

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Customise to your preferences</h2>
				<ul class="zebra">
					<li>metric or imperial measurements</li>
					<li>Tinseth, Rager</li>
					<li>Plato, Brix, SG</li>
				</ul>
			</div>
		</div>

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Free Open Source Software</h2>
				<ul class="zebra">
					<li>source code available at GitHub</li>
					<li>MIT/Beerware dual licence</li>
					<li>fix bugs or create your own server</li>
				</ul>
			</div>
		</div>

		<div class="one-third column">
			<div class="info-box-frontpage search-info">
				<img src="" class="header" />
				<h2>Access your recipes from anywhere</h2>
				<ul class="zebra">
					<li>your recipes are stored in our cloud</li>
					<li>access from anywhere with internet</li>
					<li>open API lets you access our data</li>
				</ul>
			</div>
		</div>

		<div class="two-thirds columns center text-center offset-top-by-one clear-both">
			<h2>Still not convinced to join the alpha?</h2>
			<p>Add your email below, and we'll mail you when we are closer to release.</p>
			<form>
				<input type="text" placeholder="email address" ng-model="$scope.remind.email" />
				<button class="action-btn">add</button>
			</form>
		</div>
	</div>
</article>