<article class="container">
	<div class="wrapper ten columns center no-padding">
		<h1 class="no-margin semibold">Login</h1>
		<p>No Microbrew.it account? <a href="#/register">Register one today!</a></p>

		<form method="" class="large-form content-area sixteen columns">
			<fieldset>
				<label for="username">username</label>
				<input type="text" id="username" ng-model="loginObj.username" />

				<label for="password">password</label>
				<input type="password" id="password" ng-model="loginObj.password" />
			</fieldset>
			<div class="offset-top-by-one left">
				<input type="checkbox" id="remember-me" /> <label for="remember-me">Remember me on this device</a>
			</div>
			<button class="action-btn right offset-top-by-one" ng-click="login()">Login</button>
		</form>
	</div>

</article>