<article class="container" ng-controller="MoreCtrl">
	<h1>Site Map</h1>
	<p>Microbrew.it is full of features you may not be aware of.</p>
	<div class="wrapper sixteen columns content-area">
		<div class="one-third column">
			<h2>Calculators</h2>
			<p>Brew calculations</p>
			<ol>
				<li>Brew calculator (combines the others)</li>
				<li><a href="#/calculators/abv">ABV calculator</a></li>
				<li><a href="#/calculators/colour">Colour calculator</a></li>
				<li>Bitterness calculator</li>
				<li>OG calculator</li>
				<li>Efficiency calculator</li>
				<li>Yeast pitch rate</li>
			</ol>
		</div>
		<div class="one-third column">
			<h2>Ingredients</h2>
			<p>Get information about different ingredients.</p>
			<ol>
				<li>Fermentables/Malts</li>
				<li>Hops</li>
				<li>Yeasts</li>
				<li>Spices</li>
				<li>Fruits</li>
				<li>Non-fermentable sugars</li>
			</ol>
		</div>
		<div class="one-third column">
			<h2>Company and Policies</h2>
			<p>Information about Microbrew.it and our policies.</p>
			<ul>	
				<li>Privacy Policy</li>
				<li>Terms of Service</li>
				<li><a href="http://github.com/microbrewit">GitHub organisation</a></li>
			</ul>
		</div>
	</div>
</article>