<article class="container" ng-controller="RegisterCtrl">
	<h1>Register</h1>
	<p>Already got a Microbrew.it account? <a href="#/login">Login here!</a></p>
	<form method="">
		<fieldset>
			<label for="username">Username</label>
			<input type="text" id="username" />

			<label for="email">email</label>
			<input type="text" id="email" ng-model="email" />

			<img src="http://www.gravatar.com/avatar/{{email | gravatar}}" class="block" />

			<label for="password">Password</label>
			<input type="password" id="password" />
<gravatar>tortein@gmail.com</gravatar>
			<label for="repeat-password">Username</label>
			<input type="password" id="repeat-password" />
		</fieldset>
		<input type="checkbox" id="remember-me" /> Remember me on this device
		
		<button class="action-btn">Login</button>
	</form>
</article>