<article class="container">
	<div class="headline">
		<h1>Brun Bjarne</h1>
		<p>by Thune Hjemmebryggeri</p>
	</div>

	<div class="options">
		<a class="add-favourites">add to favourites</a>
		<a class="add-fork">add my fork</a>
	</div>

	<div class="beer-meta sixteen columns">
		<div class="meta-line">
			<div class="beer-style one-third column">
				<div class="colour-indicator round"></div>
				Dubbel
			</div>
			<div class="beer-rating one-third column">
				<div class="total-rating round">26</div>
				Aroma: 5/10
				Appearance: 4/5
				Taste: 6/10
				Palate 2/5
				Overall 9/20
			</div>
			<div class="origin">
				<img class=" country-flag round" src="img/country/NO.png" alt="" />
				Norway
			</div>
		</div>

		<div class="meta-line">
			<div class="four columns beer-abv">
				<div>ABV</div>
				<span class="large-text">5.4%</span>
			</div>
			<div class="four columns beer-bitterness">
				<div>Bitterness</div>
				<span class="large-text">20 IBU</span>
			</div>
			<div class="four columns beer-colour">
				<div>colour</div>
				<span class="beer-colour-indicator"></span><span class="large-text">47 EBC</span>
			</div>
			<div class="four columns beer-glass">
				<div>Serve in</div>
			</div>
		</div>

		<div class="meta-line">
			<div class="brewery-logo four columns">
				<img src="img/thune.png" class="responsive" alt="" />
			</div>
			<div class="beer-description eight columns">
			</div>
			<div class="brewers four columns">
			</div>
		</div>
	</div>

	<h2>Recipe</h2>

	<h2>Forks</h2>
	
</article>
