/*
* Lattice v0.5 based on Skeleton v1.2
* Lattice Copyright 2012 Torstein Thune
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 27. oct. 2012
*/

/* Table of Contents
==================================================
    #Reset & Basics
    #Clearing
    #Misc
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* #Misc
================================================== */

  .left { float:left; }
  .center { margin: 0 auto !important; float: none !important; }
  .right { float: right !important; }

  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align:right; }

  .no-padding { padding: 0 !important; }
  .no-top-padding { padding-top: 0 !important; }
  .no-right-padding { padding-right: 0 !important; }
  .no-bottom-padding { padding-bottom: 0 !important; }
  .no-left-padding { padding-left: 0 !important; }

  .standard-padding { padding: 25px; }
  .standard-top-padding { padding-top: 25px; }
  .standard-right-padding { padding-right: 25px; }
  .standard-bottom-padding { padding-bottom: 25px; }
  .standard-left-padding { padding-left: 25px; }

  .no-margin { margin:0 !important; }
  .no-top-margin { margin-top: 0 !important; }
  .no-right-margin { margin-right: 0 !important; }
  .no-bottom-margin { margin-bottom: 0 !important; }
  .no-left-margin { margin-left: 0 !important; }

  .standard-margin { margin: 25px; }
  .standard-top-margin { margin-top: 25px; }
  .standard-right-margin { margin-right: 25px; }
  .standard-bottom-margin { margin-bottom: 25px; }
  .standard-left-margin { margin-left: 25px; }
  
  .hidden { display: none; }
  .block { display: block; }
  .inline { display: inline; }
  .inline-block { display: inline-block !important; float: none !important; }

  .clear {
    clear:both;
  }
  .clear-left {
    clear: left;
  }
  .clear-right {
    clear: right;
  }

  .uppercase {
    text-transform: uppercase;
  }
  .lowercase {
    text-transform: lowercase;
  }
  .capitalise {
    text-transform: capitalize;
  }
