<article class="container" ng-controller="CalculatorCtrl">
	<h1 class="no-margin semibold">ABV calculator</h1>
	<p>Calculate alcohol by volume (abv).</p>
	<div class="content-area sixteen columns">
		<form class="large-form">
			<label for="og">Original Gravity (OG): </label><input type="text" id="og" ng-model="abvCalc.og" />
			<label for="fg">Final Gravity (FG): </label><input type="text" id="fg" ng-model="abvCalc.fg" />
		</form>
		<hr />
		<h2>ABV:</h2>
		<ol class="estimates zebra">
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="fix"></div></li>
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="miller"></div></li>
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="advanced"></div></li>
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="alternativeAdvanced"></div></li>
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="simple"></div></li>
			<li><div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="alternativeSimple"></div></li>
			<li class="microbrewit-estimate">Our Estimate: <div mb-calc-abv og="{{abvCalc.og}}" fg="{{abvCalc.fg}}" formula="Microbrewit" class="large-text"></li> 
		</ol>
	</div>
</article>
