<article class="all-fermentables">
	<div class="header-bubble inner-wrapper">
		<div class="icon">
			<mb-colour-box class="colour-box" absolutecolour="212,78,0" size="76px"></mb-colour-box>
			<img src="images/fermentable-large.png" alt="Malt"/>
		</div>
	</div>
	<h1>Fermentables</h1>
	<div ng-include="'templates/ingredients/ingredients.navigation.html'"></div>
	<section class="the-content the-list">
		<div class="inner-wrapper">
			<ul class="search-grid-results">
				<li ng-repeat="result in results">
					<div ng-include="'templates/ingredients/fermentable.gridItem.html'"></div>
				</li>
			</ul>
		</div>
	</section>
</article>