<article class="all-fermentables">
	<div class="header-bubble inner-wrapper">
		<div class="icon">
			<mb-colour-box class="colour-box" absolutecolour="212,78,0" size="76px"></mb-colour-box>
			<img src="images/fermentable-large.png" alt="Malt"/>
		</div>
	</div>
	<h1>Fermentables</h1>
	<section class="the-list">
		<div class="inner-wrapper">
			<table class="fermentables-list" cellspacing="0">
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Maltster</th>
					<th>Origin</th>
					<th title="Sugar content">PPG</th>
					<th>Colour</th>
				</tr>
				<tr ng-repeat="fermentable in fermentables">
					<td>
						<a ui-sref="fermentables.single({id:fermentable.fermentableId})">{{fermentable.name}} </a>
					</td>
					<td>{{fermentable.type}}</td>
					<td>{{fermentable.supplier.name}}</td>
					<td>{{fermentable.supplier.origin.name}}</td>
					<td>{{fermentable.ppg}}</td>
					<td><mb-colour-box style="float:left;" class="colour-box" type="lovibond" colour="{{fermentable.lovibond}}" size="25px"></mb-colour-box>({{fermentable.lovibond}}°L)</td>
				</tr>
			</table>
		</div>
	</section>
</article>