<article class="single-fermentable">
	<div class="header-bubble inner-wrapper">
		<div class="icon">
			<mb-colour-box class="colour-box" type="lovibond" colour="{{fermentable.lovibond}}" size="76px"></mb-colour-box>
			<img src="images/fermentable-large.png" alt="Malt"/>
		</div>
	</div>
	<h1>{{fermentable.name}}</h1>
	<section class="meta">
		<div class="inner-wrapper">
			<div class="type" title="">Type <strong>{{fermentable.type}}</strong></div>
			<div class="origin">Country <strong>{{fermentable.supplier.origin.name}}</strong></div>
			<div class="lovibond" title="">Lovibond <strong>{{fermentable.lovibond}}</strong></div>
			<div class="ppg" title="">PPG <strong>{{fermentable.ppg}}</strong></div>
			<div class="supplier">Supplier <strong>{{fermentable.supplier.name}}</strong></div>
		</div>
	</section>
</article>