<article class="all-hops">
	<h1>Hops</h1>
	<section class="the-list">
		<div class="inner-wrapper">
			<table class="hops-list" cellspacing="0">
				<tr>
					<th>Name</th>
					<th>Alpha</th>
					<th>Beta</th>
					<th>Flavours</th>
				</tr>
				<tr ng-repeat="hop in hops">
					<td><a ui-sref="hops.single({id:hop.id})">{{hop.name}} ({{hop.origin.Name}})</a></td>
					<td>{{hop.aalow}}% - {{hop.aahigh}}%</td>
					<td>{{hop.betalow}}% - {{hop.betahigh}}%</td>
					<td>{{hop.flavours.join(',')}}</td>
				</tr>
			</table>
		</div>
	</section>
</article>