<article class="single-hops">
	<h1>{{hop.name}}</h1>

	<section class="meta">
		<div class="inner-wrapper">
			<div class="alpha-acid" title="Alpha acids contribute bitterness in addition to having a mild anti bacterial effect.">Alpha <strong>{{hop.aalow}}% - {{hop.aahigh}}%</strong></div>
			<div class="beta-acid" title="Beta acids contribute to a beer's aroma. over Time they may oxidise into compounds that can give beer off-flavours.">Beta <strong>{{hop.betalow}}% - {{hop.betahigh}}%</strong></div>
			<div class="origin">Origin <strong>{{hop.origin.name}}</strong></div>
			<div class="description">{{hop.description}}</div>
			Flavours
			Substitutes
		</div>
	</section>
</article>