<article class="all-hops">
	<h1>Hops</h1>
	<section class="the-list">
		<div class="inner-wrapper">
			<table class="hops-list" cellspacing="0">
				<tr>
					<th>Name</th>
					<th>Origin</th>
					<th>Alpha</th>
					<th>Beta</th>
					<th>Flavours</th>
				</tr>
				<tr ng-repeat="hop in hops">
					<td><a ui-sref="hops.single({id:hop.hopId})">{{hop.name}}</a></td>
					<td>{{hop.origin.name}}</td>
					<td>{{hop.aaLow}}% - {{hop.aaHigh}}%</td>
					<td>{{hop.betaLow}}% - {{hop.betaHigh}}%</td>
					<td>{{hop.flavours.join(',')}}</td>
				</tr>
			</table>
		</div>
	</section>
</article>