<article>
	<header>
		<div class="header-bubble inner-wrapper">
			<div class="icon">
				<mb-colour-box class="colour-box" absolutecolour="0,128,64" size="76px"></mb-colour-box>
				<img src="images/hops-large.png" alt="Malt"/>
			</div>
		</div>
	
		<h1>{{title.toUpperCase()}}</h1>
	</header>
	<div ng-include="'templates/ingredients/ingredients.navigation.html'"></div>

	<div class="loading" ng-show="loading > 0">
		<div class="inner">Loading<br/><img src="images/spinner.gif"/></div>
	</div>

	<div class="the-content">
		<div ui-view></div>
	</div>
</article>