<article class="all-yeasts">
	<h1>Yeast</h1>
	<section class="the-list">
		<div class="inner-wrapper">
			<table class="yeasts-list" cellspacing="0">
				<tr>
					<th>Name (code)</th>
					<th>Supplier</th>
					<th>Type</th>
					<th>Temperature range</th>
					<th>Flocculation</th>
					<th>Alcohol Tolerance</th>
				</tr>
				<tr ng-repeat="yeast in yeasts">
					<td><a ui-sref="yeasts.single({id:yeast.id})">{{yeast.Name}} ({{yeast.productcode}})</a></td>
					<td>{{yeast.supplier.Name}}</td>
					<td>{{yeast.type}}</td>
					<td>{{yeast.temperaturelow}} - {{yeast.temperaturehigh}}</td>
					<td>{{yeast.flocculation}}</td>
					<td>{{yeast.alcoholtolerance}}</td>
				</tr>
			</table>
		</div>
	</section>
</article>