<article class="all-yeasts">
	<h1>Yeast</h1>
	<div ng-include="'templates/ingredients/ingredients.navigation.html'"></div>
	<section class="the-content the-list">
		<div class="inner-wrapper">
			<table class="yeasts-list" cellspacing="0">
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Supplier</th>
					<th>Type</th>
					<th>Temperature</th>
					<th>Flocculation</th>
					<th>Alcohol Tolerance</th>
				</tr>
				<tr ng-repeat="yeast in yeasts">
					<td>{{yeast.productCode}}</td>
					<td><a ui-sref="yeasts.single({id:yeast.yeastId})">{{yeast.name}}</a></td>
					<td>{{yeast.supplier.name}}</td>
					<td>{{yeast.type}}</td>
					<td>{{yeast.temperaturelow}} - {{yeast.temperaturehigh}}</td>
					<td>{{yeast.flocculation}}</td>
					<td>{{yeast.alcoholtolerance}}</td>
				</tr>
			</table>
		</div>
	</section>
</article>