<article class="single-yeast">
	<h1>{{yeast.name}}</h1>

	<section class="meta">
		<div class="inner-wrapper">
			<div class="code" title="">Code <strong>{{yeast.productcode}}</strong></div>
			<div class="type" title="">Type <strong>{{yeast.type}}</strong></div>
			<div class="supplier">Supplier <strong>{{yeast.supplier.name}}</strong></div>
			<div class="temperature-range" title="">Temperature <strong>{{yeast.temperaturelow}} - {{yeast.temperaturehigh}}</strong></div>
			<div class="flocculation" title="">Flocculation <strong>{{yeast.flocculation}}</strong></div>
			<div class="alcohol-tolerance">Tolerance <strong>{{yeast.alcoholtolerance}}</strong></div>
		</div>
	</section>
</article>