button {
	transition: 0.5s;
}

button.submit {
	display: block;
	padding: 15px 25px;
	margin: 0 auto;
	height: 50px;
	font-size: 15px;
	line-height: 25px;
	background: #CD2729;
	color: white;
	border:0;

	&:hover {
		cursor: pointer;
		background: #8F1B1C;
	}

	&.disabled {
		background: #ccc;
		color: #666;
		&:hover {
			background: #ccc;
			color: #666;
		}
	}

}

button.loading, .ng-submitted button.submit {
	background: #ccc;
	border: #aaa;
	color: #666;
	position: relative;
	padding-right: 50px;

	&:hover {
		background: #ccc;
		color: #666;
		cursor: default;
	}

	&:after {
		@extend .spinner-icon;

		border-top-color:  #666 !important;
		border-left-color: #666 !important;
		
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -7px;
		right: 25px;
	}
}

.success {
	background: #7AB95B !important;
	border: #7AB95B !important;

	&:hover {
		background: #54853B !important;
		border: #54853B !important;
	}
}

.warning {
	background: #E2AE49 !important;
	border: #E2AE49 !important;
	color: white !important;
	&:hover {
		background: #E2AE49 !important;
		border: #E2AE49 !important;
	}
}

.error, .error.ng-submitted button.submit {
	background: #d9534f !important;
	border: #d9534f !important;
	color: white !important;

	&:hover {
		background: #BC4137 !important;
		border: #BC4137 !important;
	}
}

// --- FORMS ---
.ng-touched.ng-invalid {
	border: 2px solid #d9534f;
}

.ng-invalid button.submit {
	background: #ccc;
	color: #666;
}

.form-error {
	padding: 10px;
	text-align:center;
}