$hopBg: #DFE4CD;
$hopBorder: #ccc;

.single-hop {
	
	.meta {
		padding: 25px 50px;
		border-bottom: 1px solid #ccc;
		text-align:center;

		span {
			display: inline-block;
			padding: 0 25px;

			strong {
				display: block;
				font-size: 160%;
			}
		}

		&:last-child {
			border:0;
		}
	}

	.substitutes {
		@extend .cf;
		border-top: 1px solid $hopBorder;
		background: $hopBg;
	}
}
.the-list {
	padding: 0px 0 50px 0;
	text-align:center;
}
.hops-list,.fermentables-list, .yeasts-list {
	width: 100%;
	td, th { padding: 10px; }
	tr:first-child {
		background: #666;
		color: white;
		text-align: left;
	}
	tr:nth-child(odd) {}
	tr:nth-child(even) {
		background: #eee;
	}
}
// .hops-list {
// 	tr:first-child {
// 		background: #66743E;
// 	}
// }