#main-navigation {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: rgba(255,255,255,0.4);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	font-size: 20px;

	.add a {
		background: #CC2F2F;
		color: white;
	}

	.logo-text {
		font-family: Kingthings Petrock;
		font-size: 30px;
	}

	ul {
		@extend .cf;
		background: rgba(255,255,255,0.85);
		border-bottom: 1px solid #ccc;
		//display: table;
		list-style: none;
		padding:0;
		text-align: center;
		display: inline-block;
		margin: 0 auto;
	}
	li {
		float:left;
		height: 60px;
		line-height: 60px;
		border-left: 1px solid rgba(0,0,0,0.2);
		text-transform: uppercase;

		&:first-child {
			text-transform: capitalize;
			border-left: none;
		}

		&.search {
			padding: 0 15px;
		}
	}
	a {
		display: block;
		height: 100%;
		color: #333;
		padding: 0 20px;

		&:hover {
			color: #fff;
			background: #333;
		}
		&:active {
			color: #fff;
			background: #555;
		}
		&.active {
			background: #333;
		}
	}
}

