.big-search-box {
	display: block;
	margin: 0 auto;
	line-height: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 25px;

	@include col(7/10, 0, false); 
	padding: 0 15px;
}
.search-input {
	padding-bottom: 50px;
}

.search-results {
	border-top: 1px solid #ccc;
	background: #eee;
	padding: 75px 0;
}

.results-number {
	float:left;
	@include offset(left, 1.5/10)
}
.search-endpoint {
	float:right;
	@include offset(right, 1.5/10)
}

.search-grid-results {
	list-style: none;
	padding: 0;
	margin:0;

	li {
		padding: 0;
		@include col(1/4, 0, false);
		padding: 0 5px;
		display: inline-block;
	}
}

.search-grid-result {
	padding: 0;
	margin:0;
	padding-bottom: 25px;

	li {
		margin:0;
		padding:0;
	}

	.content {
		@extend %shadow;
		display: block;
		background: white;
		margin-top: 32px;
		border-radius: 5px;
		border: 1px solid #E9E9E9;
		text-align:center;
		padding: 0;
		padding-bottom: 25px;
		position: relative;

		&:hover {
			background: #eee;

			&:before {
				top: -32px;
			}
			.top-circle {
				margin-top: -27px;
			}
		}

		&:before {
			@extend %shadow;
			position: absolute;
			top: -30px;
			left: 50%;
			width: 60px;
			height: 60px;
			margin-left: -33px;
			background: white;
			border: 1px solid #E9E9E9;
			border-radius: 50%;
			z-index: 1;
			content: '';
		}
	}

	h3 {
		text-transform: uppercase;
		color: #333;
		margin-bottom: 5px;
	}

	.meta, .type {
		color: #666;
	}

	.top-circle {
		margin-top: -25px;
		position: relative;
		z-index: 2;
	}
}

#embedded-search {
	.search-input {
		h2 {
			margin: 0;
			display: inline-block;
		}
		.search-box {
			display: inline-block;
		}
		padding-bottom: 10px;
	}
	.search-results {
		padding: 0;
	}
}