.login {
	//text-align:center;
	.submit {
		float:right;
		@include offset(right, 2/8);
	
	}
	.login-form {
		background: #eee;
		border-top: #ccc;
		padding: 50px 0;
	}
	input[type=text] {
		@include col(2/4, 0, false);
		padding: 0 5px;
		line-height: 30px;
		font-size: 20px;
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	input[type=checkbox] {
		display: inline-block;
	}

	label {
		display: inline-block;
		@include push(1/4);
		margin-bottom: 5px;
		color: #999;
	}
}

.settings {
	position: relative;
	padding: 15px;
	text-align:center;
	background: #efefef;

	// &:before {
	// 	position:absolute;
	// 	left:0;
	// 	right:0;
	// 	top:0;
	// 	bottom:0;
	// 	border:1px solid white;
	// 	content: '';
	// }

	&:nth-of-type(odd) {
		background: #ddd;
	}

	strong, select {
		margin-right: 15px;
	}
}