$yeastBg: #FCF1EF;
$yeastColour: #592114;
$yeastBorder: rgba(0, 0, 0, 0.1);

.single-yeast {
	.substitutes {
		@extend .cf;
		border-top: 1px solid $yeastBorder;
		background: $yeastBg;
		padding-bottom: 25px;
		color: $yeastColour;
	}
}