@import "compass/css3/transition";

.cf {
	*zoom: 1;
	
	&:before,&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

$normal-font-size: 15px;
$link-color: #00ABD6;

// --- Lattice configuration ---
$grid-width: 1000px;
$number-of-columns: 12;
$default-grid-gutter: 25px;
@import "../../bower_components/lattice/scss/grid";

div, article, section, footer, header {
	box-sizing: border-box;
}

html {
	margin:0;
	font-family: Source Sans Pro;
	line-height: 1.4;
	font-size: $normal-font-size;
}

body {
	background: #333;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 50px;
	text-align:center;
}

a {
	color: $link-color;
	text-decoration:none;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.loading {
	width: 200px;
	height:200px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(0,0,0,0.7);
	text-align:center;
	z-index: 100;
	padding-top: 60px;
	margin-left: -100px;
	margin-top: -100px;
	color: white;
	line-height: 2.8;
}

.content {
	padding: 50px 0;
	background: #eee;
	border-top: 1px solid #ddd;
}

.main {
	@extend .cf;
	box-shadow: 0 9px 9px rgba(0,0,0,0.5);
	background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);

	position: relative;
	z-index: 3;
	background: #FBFBFB;
	margin-bottom: 400px;
}

.inner-wrapper {
	@extend .cf;
	@include col(12, 0, false);
	margin: 0 auto;
	clear: both;
}

#notifications {
	position: fixed;
	right: 20px;
	top: 55px;
	@include col(3, 0, false);

	list-style: none;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		background: rgba(255,255,255,0.8);
		border: 1px solid #ccc;
		color: #333;
		padding: 25px;
		margin-bottom: 5px;
		border-radius: 5px;
	}
}

@import "navigation";
@import "footer";
@import "search";
@import "hops";
@import "fermentables";
@import "yeasts";
@import "users";
@import "angular-loading-bar";