@import "compass/css3/transition";

.cf {
	*zoom: 1;
	
	&:before,&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

@mixin filter($var) {
	-webkit-filter: $var;
	-moz-filter: $var;
	-ms-filter: $var;
	-o-filter: $var;
	filter: $var;
}

$normal-font-size: 15px;
$font-recipe-name: 20px;
$link-color: #00ABD6;

// --- Lattice configuration ---
$grid-width: 1000px;
$number-of-columns: 12;
$default-grid-gutter: 25px;
@import "../../bower_components/lattice/scss/grid";

div, article, section, footer, header {
	box-sizing: border-box;
}

html {
	margin:0;
	font-family: Source Sans Pro;
	line-height: 1.4;
	font-size: $normal-font-size;
}

body {
	background: #333;
	margin: 0;
}

h1 {
	margin-top: 10px;
	text-transform: capitalize;
	font-size: 50px;
	font-weight: normal;
	text-align:center;
}

h2 {
	text-align:center;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 25px;
}

a {
	color: $link-color;
	text-decoration:none;
}

%shadow {
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.center {
	margin: 0 auto;
	text-align: center;
}
.right { float:right !important; }

.loading {
	width: 100%;
	height:100%;
	border-radius: 5px;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	text-align:center;
	z-index: 100;
	// margin-left: -100px;
	// margin-top: -100px;
	color: white;
	line-height: 100%;

	.inner {
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-left: -50px;
		position: absolute;
		left: 50%;
		top: 50%;
	}

}

.content {
	padding: 25px 0;
	background: #eee;
	border-top: 1px solid #ddd;
}

.frontpage {
	header {
		width: 100%;
		margin-top: -60px;
		padding: 130px 0;
		position: relative;

		&:before {
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url('../images/background.jpg');
			background-size: cover;
			
			@include filter(blur(2px) saturate(80%));
			// @include filter(saturate, 90%);
			content: '';
		}

		h1 {
			position: relative;
			z-index: 10;
			color: white;
			text-transform: uppercase;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			margin-bottom: 0;
		}

		.subheader {
			position: relative;
			z-index: 10;
			text-align:center;
			color: white;
			opacity: 0.9;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
			font-size: 25px;
		}
	}

	.call-to-action {
		position: relative;
		z-index: 10;
		width: 250px;
		height: 50px;
		font-size: 25px;
		text-transform: uppercase;
		opacity: 0.9;
		text-align:center;
		line-height: 45px;

		&:hover {
			opacity: 1;
		}

		&.create {
			color: white;
			display: block;
			margin: 25px auto;
			// margin-right: 25px;
			background: #CC2F2F;
			height: 46px;
			border: 0;
			border-bottom: 4px solid #AD2727;

			&:hover {
				cursor: pointer;
			}
		}
		&.discover {
			background: white;
		}
	}

	.content {
		position: relative;
		z-index: 9;
		border-top: 0;
		margin-top: -60px;
		background: linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(238,238,238,1) 60px,rgba(238,238,238,1) 100%);
	} 

}

.main {
	@extend .cf;
	box-shadow: 0 9px 9px rgba(0,0,0,0.5);
	background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);

	position: relative;
	z-index: 3;
	background: #FBFBFB;
	margin-bottom: 400px;
}

.inner-wrapper {
	@extend .cf;
	@include col(12, 0, false);
	max-width: 1000px;
	width: 100%;
	margin: 25px auto;
	clear: both;
}

#notifications {
	position: fixed;
	right: 20px;
	top: 55px;
	@include col(3, 0, false);

	list-style: none;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		background: rgba(255,255,255,0.8);
		border: 1px solid #ccc;
		color: #333;
		padding: 25px;
		margin-bottom: 5px;
		border-radius: 5px;
	}
}

.save {
	background: #CC2F2F;
	padding: 0 25px;
	font-size: 25px;
	color: white;
	line-height: 50px;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 75px;
	text-transform: uppercase;
	font-weight: 100;
	border: 0;
}

.header-bubble {

	margin-top: 35px;
	position: relative;
	margin-bottom: 0;

	&:before {
		position: absolute;
		height: 1px;
		top: 50%;
		left: 0;
		width: 100%;
		border-top: 1px solid #ccc;
		content: "";
	}
	.icon {
		width: 98px;
		height: 78px;
		margin: 0 auto;
		position: relative;
		z-index: 10;

		background: #FBFBFB;
	}
	.colour-box {
		.gravity {
			@extend %shadow;
		}
		left: 10px;
		position:absolute;
	}
	img {
		left: 10px;
		position: absolute;
		z-index:2;
	}
}

@import "navigation";
@import "footer";
@import "search";
@import "hops";
@import "fermentables";
@import "yeasts";
@import "users";
@import "brewer";
@import "recipe";
@import "angular-loading-bar";