@import "compass/css3/transition";

.cf {
	*zoom: 1;
	
	&:before,&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&:after {
		clear: both;
	}
}

$normal-font-size: 15px;
$font-recipe-name: 20px;
$link-color: #00ABD6;

// --- Lattice configuration ---
$grid-width: 1000px;
$number-of-columns: 12;
$default-grid-gutter: 25px;
@import "../../bower_components/lattice/scss/grid";

div, article, section, footer, header {
	box-sizing: border-box;
}

html {
	margin:0;
	font-family: Source Sans Pro;
	line-height: 1.4;
	font-size: $normal-font-size;
}

body {
	background: #333;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 50px;
	text-align:center;
}

a {
	color: $link-color;
	text-decoration:none;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.loading {
	width: 200px;
	height:200px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(0,0,0,0.7);
	text-align:center;
	z-index: 100;
	padding-top: 60px;
	margin-left: -100px;
	margin-top: -100px;
	color: white;
	line-height: 2.8;
}

.content {
	padding: 50px 0;
	background: #eee;
	border-top: 1px solid #ddd;
}

.main {
	@extend .cf;
	box-shadow: 0 9px 9px rgba(0,0,0,0.5);
	background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
	background-image:radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);

	position: relative;
	z-index: 3;
	background: #FBFBFB;
	margin-bottom: 400px;
}

.inner-wrapper {
	@extend .cf;
	@include col(12, 0, false);
	margin: 0 auto;
	clear: both;
}

#notifications {
	position: fixed;
	right: 20px;
	top: 55px;
	@include col(3, 0, false);

	list-style: none;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		background: rgba(255,255,255,0.8);
		border: 1px solid #ccc;
		color: #333;
		padding: 25px;
		margin-bottom: 5px;
		border-radius: 5px;
	}
}
.add-beer-recipe {
	.recipe-beer-meta {
		text-align:center;
		input[type="number"] {
			line-height: 40px;
			font-size: 24px;
			width: 45px;
			font-weight: 100;
			text-align: center;
		}

		.beer-meta-value {
			font-size: 26px;
			font-weight: 300;
			line-height: 50px;
			display: inline-block;
			margin-right: 15px;
		}
		.beer-meta-key {
			display: inline-block;
			line-height: 40px;
			height: 50px;
			vertical-align:middle;
			margin-right: 5px;
		}
	}
	.conclusion .recipe-beer-meta {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 50px;
		padding: 25px 0;

		.beer-meta-value {
			font-size: 26px;
			font-weight: 300;
			line-height: 50px;
			display: inline-block;
			margin-right: 15px;
		}
		.beer-meta-key {
			line-height: 40px;
			height: 50px;
			margin-right: 15px;
			display: inline-block;
		}
	}
	.meta-information {
		.recipe-name {
			margin-bottom: 25px;
		}
		.recipe-name, .recipe-style {
			width: 100%;
			height: 50px;
			padding: 0 10px;
			font-size: $font-recipe-name;
		}
		.inner-wrapper {
			padding: 50px 0;
		}
		background: #eee;
		padding: 25px;
		border-top: 1px solid #ccc;
	}
	.beer-meta-value {
		font-size: 20px;
		font-weight: bold;
	}
	h2 {
		text-align:center;
		font-size: 50px;
		font-weight: normal;
	}
	ul, li {
		list-style: none;
		padding:0;
		margin:0;
	}
	.step-number {
		color: white;
		font-size: 40px;
		text-align:center;
		line-height: 50px;
		@include col(1/20, 0);
	}
	.step-meta {
		background: rgba(0,0,0,0.1);
		line-height: 46px;
		@include col(19/20, 0);
		padding: 0 25px;

		span {
			padding:0;
			display: inline-block;
			margin:0;
		}

		.values {
			float: right;
			input {
				width: 60px;
				display: inline-block;
			}
			label {
				margin-left: 15px;
			}
		}

		.step-type {
			font-size: 20px;
			line-height: 50px;
			padding: 0;
			margin: 0;
		}
	}
	.step-wrapper {
		margin-bottom: 25px;
	}

	.add-step {
		//float:right;
		display: block;
		line-height: 50px;
		font-size: 20px;
		color: white;
		font-weight: normal;
		padding: 0 10px;
		// margin: 25px 0;
		// margin: 25px auto 0 auto;
		// margin-top: 25px;
		float:right;
		border:0;
	}
	.mash {
		background: #EEE4DB;
		color: #705F58;
		border-top: 1px solid #D8D2CA;
		.step-number, tr:first-child, .add-step, .add-ingredient  {
			background: #705F58;
		}
	}
	.boil {
		background: #DFE4CD;
		color: #66743E;
		border-top: 1px solid #D2D5C3;

		.step-number, tr:first-child, .add-step, .add-ingredient  {
			background: #66743E;
		}
	}
	.fermentation {
		background: #FCF1EF;
		color: #592114;
		border-top: 1px solid #D0D4C1;

		.step-number, tr:first-child, .add-step, .add-ingredient  {
			background: #592114;
		}
	}
	.recipe-notes {
		display: block;
		@include col(8, 15px, false);
		min-height: 100px;
		margin: 0 auto;
	}
	.add-ingredient {
		margin-top: 10px;
		margin-right: 5px;
		border: 0;
		padding: 5px 10px;;
		color: white;
	}
}

.embedded-search {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
	.inner-wrapper {
		height: 100%;
		overflow: auto;
		background: white;
		table {
			width: 100%;
		}
	}	
}

.steps, .ingredients {
	margin-top: 1px;
	padding-bottom: 50px;

	table {
		width: 100%;
		padding:0;
		border-spacing: 0;
	}

	tr {
		padding: 0;
		margin: 0;
		height: 50px;
		background: rgba(255,255,255,0.2);
	}
	tr:nth-child(even) {
		background: rgba(0,0,0,0.05);
	}
	tr:first-child {
		color: white;
		line-height: 40px;
	}
	td,th {
		font-weight: normal;
		padding: 10px;
		padding-right: 1px;
		margin:0;
	}
	input[type='text'] {
		display: inline-block;
		width: 50px;
		text-align:center;
		height: 40px;
		line-height: 40px;
		border: 0;
		margin-right: 5px;
		background: rgba(255,255,255,0.3);
	}
	select {
		display: block;
		width: 100%;
		height: 100%;
		line-height: 40px;
	}	
}

td.form-button {
	padding:0;
	padding-right: 10px;
	padding-left: 10px;
	width: 40px;
}
button.form-button {
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.2);
	color: white;
	border: 0;
	display: inline-block;

	&:hover {
		background-color: rgba(0,0,0,0.1);
		cursor: pointer;
	}

	&.edit {
		margin-right: 15px;
		// text-indent: -9999px;
		//background: url(images/edit.svg);
			// background-size: contain;
	}
}

.conclusion {
	text-align: center;
}

.save {
	background: #CC2F2F;
	padding: 0 25px;
	font-size: 25px;
	color: white;
	line-height: 50px;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 75px;
	text-transform: uppercase;
	font-weight: 100;
	border: 0;
}

@import "navigation";
@import "footer";
@import "search";
@import "hops";
@import "fermentables";
@import "yeasts";
@import "users";
@import "angular-loading-bar";