
<article class="account">

	<header>
		<div class="header-bubble inner-wrapper">
			<div class="icon">
				<gravatar url="{{user.gravatar}}" size="78px"></gravatar>
			</div>
		</div>
	
		<h1 ng-if="user.username">{{user.username}}</h1>
		<h1 ng-if="!user.username">Login</h1>
		<div class="subheader">Account and settings</div>
	</header>
	
	<section ng-if="!user.username" ng-controller="UserController">
		<div ng-include="'templates/brewers/user.login.html'"></div>
	</section>

	<nav class="sub-nav" ng-if="user.username" >
		<ul>
			<li><a ui-sref="account.beers" ng-class="{active: is('account.beers')}">My Beers</a></li>
			<li><a ui-sref="account.breweries" ng-class="{active: is('account.breweries')}">My Breweries</a></li>
			<li><a ui-sref="account.settings" ng-class="{active: is('account.settings')}">Account settings</a></li>
			<li><a ng-click="clearCache()">Clear cache</a></li>
			<li><a ng-click="logout()">Logout</a></li>
		</ul>
	</nav>

	<div class="the-content" ng-if="user.username" >
		<div ui-view></div>
	</div>
</article>