<article class="single-brewer">
	<section class="brews" ng-show="brewer.beers.length > 0">
		<div class="inner-wrapper">
			<h2>Brews</h2>

			<ul class="brew-list search-result-block">
				<li class="brew" ng-repeat="beer in brewers.beers">
					<h3>{{brew.name}}</h3>
					<div class="beer-style">{{beer.style}}</div>
					<span class="abv">{{beer.abv}}</span> - 
					<span class="ibu">{{beer.ibu}}</span> - 
					<span class="srm">{{beer.srm}}</span>
				</li>
			</ul>
			<div ng-show="brewer.beers.length === 0">No brews =(</div>
		</div>
	</section>
</article>