<article class="container">
	<h1>Privacy Policy</h1>
	<div class="inner-wrapper">
		<p>How we use your personal data</p>
		<p>Microbrew.it collects information about you when you use our service. This is done in order to provide you with the best possible experience at all times.</p>

		<h2>What we collect</h2>
		<p>We may collect the following information from you:</p>

		<h3>User Account</h3>
		<p>When you register for a user account we may ask for personal information such as your full name, your email address and password.</p>

		<h3>Non-personally identifying information</h3>
		<p>When using our services we may collect non-personally-identifying information such as the type of browser you are using, referring site and the date and time of your visit. Our purpose for collecting this information is to better understand how our site is used. The collection of such data may be done through tracking cookies. See the "cookie" section below for information about how we use cookies.</p>

		<h3>Error reports</h3>
		<p>When something goes wrong in one of our clients an error log containing debugging information may be sent to our servers. This log contains information about your client and the error that occurred. This report does not contain any information that may personally identify you.

		<h3>General</h3>
		<p>If you contact us and provide us with information, we may keep a record of that correspondance and information.</p>

		<h2>Why we collect it</h2>
		<p>We use your information for the following purposes:</p>
		<ul>
			<li>To authenticate you for access to some features of our website.</li>
			<li>To give you notifications or to respond to enquiries regarding our service.</li>
			<li>To analyse usage patterns and performance of our service.</p>
			<li>To fix errors and to analyse trends.</li>
			<li>To market our services and products to you.</li>
		</ul>

		<h2>Access</h2>
		<p>The information you provide us with will be stored on our servers, and may be accessed by or given to our staff.</p>
		<p>Some information, such as your nickname, will be made publicly available.</p>

		<h2>Cookies</h2>
		<p>We use cookies to support a smooth and secure user experience. Some of these cookies remains on your computer after you close your browser and may be used on later visits to our website.</p>

		<h3>Cookies we use</h3>
		<table class="zebra">
			<tr>
				<th>Cookie</th>
				<th>Name</th>
				<th>Purpose</th>
				<th>Expires</th>
			</tr>
			<tr>
				<td>Site cookie acceptance</td>
				<td>mb_ca</td>
				<td>This cookie is used to record if a user has accepted the use of cookies on our website.</td>
				<td>Never</td>
			</tr>
			<tr>
				<td>Authentication</td>
				<td>mb_auth</td>
				<td>This cookie is used to authenticate logged in users.</td>
				<td>1 month</td>
			</tr>
			<tr>
				<td>User cache</td>
				<td>mb_user</td>
				<td>This cookie stores settings for your user.</td>
				<td>1 month</td>
			</tr>
			<tr>
				<td>Quantcast tracking cookie</td>
				<td>__qca</td>
				<td>This cookie is set by gravatar.com and is used by Quantcast.com to generate anonymous usage statistics.</td>
				<td>5 years</td>
			</tr>
		</table>
		<p>If you do not wish to have cookies placed on your computers, please set your browsers to refuse cookies before visiting our websites and using our services.</p>

		<h2>How we protect the information we collect</h2>
		<p>We hash your password using bcrypt.</p>

		<h2>Contact us</h2>
		<p>Please submit any questions or comments about this Privacy Policy or our use of your data by emailing us at <a href="mailto:hello@microbrew.it">hello@microbrew.it</a>.</p>
	</div>
</article>