<article class="container">
	<header>
		<div class="header-bubble inner-wrapper">
			<div class="icon">
				<gravatar url="{{bubble}}" size="78px"></gravatar>
			</div>
		</div>
		<h1>Privacy Policy</h1>
		<div class="subheader">What we store and how we use it</div>

	</header>
	<section class="the-content">
		<div class="inner-wrapper">
			<div class="meta">
				<span>
					<strong>We store</strong>
					<ul>
						<li>Information about your user account</li>
						<li>Information about your browser (such as vendor and version)</li>
						<li>Time of access</li>
						<li>Your location</li>
						<li>Information about errors that may occur in any of our clients</li>
						<li>Details about any correspondance you may have with us</li>
				</span>

			</div>
			<div class="meta">
				<span>
					<strong>Why we store it</strong>
					<ul>
						<li>In order to authenticate you</li>
						<li>In order to improve the stability of our service and fix errors</li>
						<li>In order to correspond with you</li>
					</ul>
				</span>
			</div>
			<div class="meta">
				<span>
					<strong>Who has access to your information</strong>
					<p>The information you provide us with will be stored on our servers, and may be accessed by or given to our staff.</p>
					<p>Some information, such as your nickname, will be made publicly available.</p>
				</span>
			</div>
			<div class="meta">
				Please submit any questions or comments about this Privacy Policy or our use of your data by emailing us at <a href="mailto:hello@microbrew.it">hello@microbrew.it</a>.
			</div>
		</div>
	</section>
</article>