<article class="add-beer-recipe">
	<header>
		<h1>New Recipe</h1>
	</header>

	<section class="meta-information">
		<div class="inner-wrapper">
			<input type="text" class="recipe-name" placeholder="Name of brew" ng-model="recipe.name"/>
			<select ng-model="recipe.beerStyle" ng-options="value.name for value in beerStyles"></select>	
		</div>
	</section>

	<section class="meta-calculations">
		<div class="inner-wrapper recipe-beer-meta">
			<div class="beer-meta-key">ABV</div> 
			<div class="beer-meta-value"><mb-abv og="{{recipe.og}}" fg="{{recipe.fg}}" formula="microbrewit"/> </mb-abv>%</div>

			<div class="beer-meta-key">Original Gravity</div> 
			<div class="beer-meta-value">{{recipe.og}}</div>

			<div class="beer-meta-key">Final Gravity</div> 
			<div class="beer-meta-value">{{recipe.fg}}</div>

			<div class="beer-meta-key">Bitterness</div> 
			<div class="beer-meta-value">{{recipe.ibu}} IBU</div>

			<div class="beer-meta-key">Colour</div> 
			<div class="beer-meta-value"><mb-colour-box type="srm" colour="{{recipe.srm}}"></mb-colour-box> {{recipe.srm}} SRM</div>

			<div class="beer-meta-key">Volume</div> 
			<div class="beer-meta-value">
				<mb-convert id="volume" modelunit="liters" localunit="liters" modelvalue="recipe.volume"></mb-convert>
				<input type="number" ng-model="recipe.volume"/>
			</div>
			<div class="beer-meta-key">Efficiency</div> <div class="beer-meta-value">
				<input type="number" ng-model="recipe.efficiency"/>
			</div>
		</div>
	</section>

	<section class="mash steps">
		<div class="inner-wrapper">
			<h2>Mash</h2>
			<ul>
				<li class="step-wrapper" ng-repeat="step in recipe.mashSteps">
					<div class="step-number">{{step.number}}</div>
					<div class="step-meta">
						<span class="step-type">Mash step</span>
						<span class="values">
							<label for="length">Volume </label><mb-convert id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-convert>
							<label for="length">Length: </label><input type="text" id="length" ng-model="step.length"/>
							<label for="length">Temperature: </label>
							<mb-convert id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-convert>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addMashStep()">Add Step</button>
		</div>



	</section>

	<section class="boil steps">
		<div class="inner-wrapper">
			<h2>Boil</h2>
			<ul>
				<li ng-repeat="step in recipe.boilSteps">
					<div class="step-number">{{step.number}}</div>
					<div class="step-meta">
						<span class="step-type">Boil step</span>
						<span class="values">
							<label for="length">Add at: </label>
							<input type="text" id="length" ng-model="step.length"/>
							<label for="volume">Volume: </label><mb-convert id="volume" modelunit="liters" localunit="liters" modelvalue="step.volume"></mb-convert>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addBoilStep()">Add Step</button>
		</div>
	</section>

	<section class="fermentation steps">
		<div class="inner-wrapper">
			<h2>Fermentation</h2>
			<ul>
				<li ng-repeat="step in recipe.fermentationSteps">
					<div class="step-number">{{step.number}}</div>
					<div class="step-meta">
						<span class="step-type">Fermentation step</span>
						<span class="values">
							<label for="length">Duration:</label>
							<mb-convert modelunit="days" localunit="days" modelvalue="step.length"></mb-convert>
							<label for="length">Temperature: </label>
							<mb-convert id="temperature" modelunit="celcius" localunit="celcius" modelvalue="step.temperature"></mb-convert>
						</span>
					</div>
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addFermentationStep()">Add Step</button>
		</div>
	</section>

	<section class="notes steps">
		<div class="inner-wrapper">
			<h2>Recipe notes</h2>
			<textarea class="recipe-notes" ng-model="recipe.notes" placeholder="notes"></textarea>
		</div>
	</section>

	<section class="wrap-up" ng-show="false">
		<div class="inner-wrapper">
			<h2>Wrap up</h2>
			Bottling/kegging/whatever.
		</div>
	</section>

	<section class="conclusion">
		<div class="inner-wrapper">
			<h2>Looks good!</h2>

			<div class="recipe-beer-meta">
				<div class="beer-meta-key">ABV</div> <div class="beer-meta-value"><mb-abv og="{{recipe.og}}" fg="{{recipe.fg}}" formula="microbrewit"/> </mb-abv>%</div>
				<div class="beer-meta-key">Original Gravity</div> <div class="beer-meta-value">{{recipe.og}}</div>
				<div class="beer-meta-key">Final Gravity</div> <div class="beer-meta-value">{{recipe.fg}}</div>
				<div class="beer-meta-key">Bitterness</div> <div class="beer-meta-value">{{recipe.ibu}} IBU</div>
				<div class="beer-meta-key">Colour</div> <div class="beer-meta-value"><mb-colour-box type="srm" colour="{{recipe.srm}}"></mb-colour-box> {{recipe.srm}} SRM</div>

				<div class="beer-meta-key">Volume</div>
				<div class="beer-meta-value">
					{{recipe.volume}}l
				</div>
			</div>
			<button class="save" ng-click="logRecipe()">LOG</button>
			<button class="save" ng-click="submitRecipe()">Add</button>
		</div>
	</section>

	<section class="embedded-search" ng-show="searchContext.active">
		<div class="inner-wrapper">
			<div ng-controller="EmbeddedSearchController">
				<div ng-include="'templates/recipe/fermentable.picker.html'"></div>
			</div>
		</div>
	</section>

</article>

