<article class="add-beer-recipe">
	<header>
		<h1>New Recipe</h1>
	</header>

	<section class="meta-information">
		<div class="inner-wrapper">

		</div>
	</section>

	<section class="meta-calculations">
	</section>

	<section class="mash steps">
		<div class="inner-wrapper">
			<h2>Mash</h2>
			<ul>
				<li ng-repeat="step in recipe.mash">
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addMashStep()">Add Step</button>
		</div>



	</section>

	<section class="boil steps">
		<div class="inner-wrapper">
			<h2>Boil</h2>
			<ul>
				<li ng-repeat="step in recipe.boil">
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addBoilStep()">Add Step</button>
		</div>
	</section>

	<section class="fermentation steps">
		<div class="inner-wrapper">
			<h2>Fermentation</h2>
			<ul>
				<li ng-repeat="step in recipe.fermentation">
					<div ng-include="'templates/recipe/recipe.step.html'"></div>
				</li>
			</ul>
			<button class="add-step" ng-click="addFermentationStep()">Add Step</button>
		</div>
	</section>

	<section class="notes steps">
		<div class="inner-wrapper">
			<h2>Recipe notes</h2>
			<textarea class="recipe-notes" ng-model="recipe.notes" placeholder="notes"></textarea>
		</div>
	</section>

	<section class="wrap-up">
		<h2>Wrap up</h2>
	</section>

	<section class="conclusion">
	</section>

</article>

