<article id="embedded-search">
	<button class="form-button delete" style="float:right" ng-click="close()">Close</button>
	<section class="search-input">
		<div class="inner-wrapper">
			<h2>Add Ingredients</h2><input type="text" class="small-search-box" placeholder="Search" ng-model="ingsearchQuery" ng-change="performSearch(ingsearchQuery)"/>
		</div>
	</section>
	<section class="search-results">
		<div class="inner-wrapper">
			<table class="ingredients fermentables-list" ng-show="results.length > 0">
				<tr>
					<th>Results 
						<button ng-click="goToFermentables()">Fermentables</button>
						<button ng-click="goToHops()">Hops</button>
						<button ng-click="goToYeasts()">Yeasts</button></th>
				</tr>
				<tr ng-repeat="ingredient in results">
					<td ng-show="{{ingredient.dataType == 'fermentable'}}">
						<button class="add form-button" style="float:left;margin-right: 10px;" ng-click="addIngredientToStep(searchContext.step, ingredient)">Add</button>
						<div style="line-height:50px;float:left;margin-right:10px;">{{::ingredient.name}} ({{::ingredient.type}} from {{::ingredient.supplier.origin.name}} by {{::ingredient.supplier.name}} with {{::ingredient.ppg}} PPG)</div> 
						<mb-colour-box style="line-height:50px;float:left;" class="colour-box" type="lovibond" colour="{{ingredient.lovibond}}" size="25px"></mb-colour-box>({{::ingredient.lovibond}}°L)
					</td>
					<td ng-show="{{ingredient.dataType == 'hop'}}">
						<button class="add form-button" ng-click="addIngredientToStep(searchContext.step, ingredient)">Add</button>
						{{::ingredient.name}} (Hop) (aa: {{::ingredient.aaLow}}-{{::ingredient.aaHigh}}%, ba: {{::ingredient.baLow}}-{{::ingredient.baHigh}}%)
					</td>
					<td ng-show="{{ingredient.dataType == 'yeast'}}">
						<button class="add form-button" ng-click="addIngredientToStep(searchContext.step, ingredient)">Add</button>
						{{::ingredient.name}} ({{::ingredient.type}})
					</td>
					<td ng-show="{{ingredient.dataType == 'other'}}">
						<button class="add form-button" ng-click="addIngredientToStep(searchContext.step, ingredient)">Add</button>
						{{::ingredient.name}}
					</td>
				</tr>
			</table>
		</div>
	</section>
</article>