<article id="embedded-search">
	<button class="form-button delete" style="float:right" ng-click="close()">Close</button>
	<section class="search-input">
		<div class="inner-wrapper">
			<h2>Add Ingredients</h2><input type="text" class="small-search-box" placeholder="Search" ng-model="ingsearchQuery" ng-change="performSearch(ingsearchQuery)"/>
		</div>
	</section>
	<section class="search-results">
		<div class="inner-wrapper">
			<table class="ingredients" ng-show="results.length > 0">
				<tr>
					<th></th>
					<th>Name of <strong>INGREDIENT</strong></th>
					<th>Type</th>
					<th>PPG</th>
					<th>Colour</th>
				</tr>
				<tr ng-repeat="ingredient in results">
					<td class="form-button">
						<button class="add form-button" ng-click="addIngredientToStep(searchContext.step, ingredient)">Add</button>
					</td>
					<td>{{ingredient._source.name}}</td>
					<td>{{ingredient._type}}</td>
					<td>{{ingredient._source.lovibond}}</td>
					<td>{{ingredient._source.ppg}}</td>
				</tr>
			</table>
		</div>
	</section>
</article>