<footer id="main-footer">
	<section class="footer-content">
		<div class="footer-logo">

		</div>
		<div class="developer-links">
			<h3>Developer</h3>
			<ul>
				<li><a href="#">Join us at Github</a></li>
				<li><a href="#">API documentation</a></li>
			</ul>
		</div>
		<div class="company-links">
			<h3>Company</h3>
			<ul>
				<li><a href="">Privacy Policy</a></li>
				<li><a href="">Terms of Service</a></li>
			</ul>
		</div>
		<div class="connect-links">
			<h3>Connect</h3>
			<ul>
				<li><a href="">@microbrewit</a></li>
				<li><a href="">hello@microbrew.it</a></li>
				<li><a href="">blog.microbrew.it</a></li>
				<li><a href="">facebook.com/microbrewit</a></li>
			</ul>
		</div>
	</section>
	<section class="copyright">&copy;2014 Microbrew.it - Made in Norway</section>
</footer>