<footer id="main-footer">
	<div class="footer-inner-wrapper">
		<section class="footer-content">
			<div class="footer-logo">
				<a ui-sref="home" class="logo-circle">
					M
				</a>
			</div>
			<div class="developer-links">
				<h3>Developer</h3>
				<ul>
					<li><a href="http://github.com/microbrewit">Join us at Github</a></li>
					<li><a href="http://api.microbrew.it">API documentation</a></li>
				</ul>
			</div>
			<div class="company-links">
				<h3>Company</h3>
				<ul>
					<li><a ui-sref="privacy-policy">Privacy Policy</a></li>
					<li><a ui-sref="tos">Terms of Service</a></li>
				</ul>
			</div>
			<div class="connect-links">
				<h3>Connect</h3>
				<ul>
					<li><a href="https://twitter.com/microbrewit">@microbrewit</a></li>
					<li><a href="#">blog.microbrew.it</a></li>
					<li><a href="#">hello@microbrew.it</a></li>
					<li><a href="https://www.facebook.com/Microbrewit">facebook.com/microbrewit</a></li>
				</ul>
			</div>
		</section>
		<section class="copyright"><strong>&copy;<span class="logo-text">2014 Microbrew.it</span></strong><br />Made in Bergen</section>
	</div>
</footer>