<footer id="main-footer">
	<div class="footer-inner-wrapper">
		<section class="footer-content">

			<div class="links">
				<ul>
					<li><a href="http://github.com/microbrewit">Github Source</a></li>
					<li><a href="http://api.microbrew.it">API Documentation</a></li>
					<li><a ui-sref="privacyPolicy">Privacy Policy</a></li>
					<li><a ui-sref="termsOfService">Terms of Service</a></li>
					<!-- <li><a href="https://twitter.com/microbrewit">@microbrewit</a></li>
					<li><a href="https://www.facebook.com/Microbrewit">facebook.com/microbrewit</a></li> -->
				</ul>
			</div>
			
			<strong>&copy;<span class="logo-text">2015 Microbrew.it</span></strong><br />
			Made in Bergen
		</section>
	</div>
</footer>