<nav id="main-navigation">
	<ul>
		<li style="width:116px"><a ui-sref="beer">Beer</a></li>
		<li style="width:116px"><a ui-sref="breweries">Breweries</a></li>
		<li style="width:117px"><a ui-sref="brewers">Brewers</a></li>
		<li style="width:50px"><a ui-sref="more">More</a></li>
		<li style="width:184px"><a ui-sref="home">Microbrew.it</a></li>
		<li style="width:266px">Search</li>
		<li style="width:61px"><a ui-sref="add">Add</a></li>
		<li style="width:89px"><a ui-sref="profile">Me</a></li>
	</ul>
</nav>