<article class="frontpage">
	<h1>Homebrewing Excellence</h1>
	
	<section class="content">
		<div class="inner-wrapper">
			<h2>Shit that's somewhat done:</h2>
			<ul>
				<li><a ui-sref="search">Search</a></li>
				<li><a ui-sref="fermentables.list">Fermentables</a></li>
				<li><a ui-sref="hops.list">Hops</a></li>
				<li><a ui-sref="yeasts.list">Yeast</a></li>
				<li><a ui-sref="abv-calculator">ABV Calculator</a></li>
				<li><a ui-sref="login">Login</a></li>
			</ul>
		</div>
	</section>
</article>
